{% extends "base.html" %}

{% block title %}Agendamentos - Hoje{% endblock %}

{% block content %}
    <!-- Conteúdo principal -->
    <div class="main-content">
        <!-- Título "Agendamentos recentes" -->
        <h2>Agendamentos Recentes</h2>

        <div class="agendamentos">
            {% for agendamento in agendamentos %}
            <div class="agendamento-card">
                <p><strong>{{ agendamento.turma }}</strong></p>
                <p>Sala Agendada: {{ agendamento.sala }}</p>
                <p>Horário: {{ agendamento.horario_inicio }} - {{ agendamento.horario_fim }}</p>
            </div>
            {% else %}
            <p>Nenhum agendamento encontrado.</p>
            {% endfor %}
        </div>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e5ecf4; /* Cor de fundo geral */
        }

        .main-content {
            padding: 20px;
        }

        h2 {
            color: #34495e; /* Cor do título */
            margin-bottom: 20px;
        }

        .agendamentos {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            flex-wrap: wrap;
        }

        .agendamento-card {
            background-color: #34455e; /* Cor de fundo dos cartões */
            color: white; /* Cor do texto */
            padding: 18px;
            border-radius: 10px;
            width: 200px; /* Largura fixa dos cartões */
            text-align: left;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease; /* Transição para efeito de hover */
        }

        .agendamento-card:hover {
            transform: scale(1.05); /* Aumenta o cartão ao passar o mouse */
        }
    </style>
{% endblock %}
